;; See these configs for ideas:
;; - https://github.com/practicalli/clojure-cli-config/blob/main/deps.edn
;; - https://github.com/seancorfield/dot-clojure
{:aliases
 ;; Clojure MCP
 ;; See https://github.com/bhauman/clojure-mcp
 ;; See https://github.com/bhauman/clojure-mcp/commits/main for latest sha
 {:mcp
  {:deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"} ;; Required for stdio server
          ;;Track latest clojure-mcp as changing rapidly. Revert to latest tag on git breakage...
          com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"

                                   ;; :git/tag "v0.1.8-alpha"
                                   ;; :git/sha "457f197"
                                   :git/sha "f81db882fcab43b85e973693a3fa5737a8090d21"
                                   ;;
                                   }
          #_io.github.bhauman/clojure-mcp #_{:git/url "https://github.com/bhauman/clojure-mcp.git" :git/sha "latest"}}
   :exec-fn clojure-mcp.main/start-mcp-server
   :exec-args {:port 7888
               ;;The bash-over-nrepl tool gets unresponsive with cljs projects...
               :bash-over-nrepl false}}
  :mcp-bb
  {:deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"} ;; Required for stdio server
          com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"
                                   ;; :git/tag "v0.1.10-alpha"
                                   ;; :git/sha "457f197"
                                   :git/sha "f81db882fcab43b85e973693a3fa5737a8090d21"
                                   ;;
                                   }}
   :exec-fn clojure-mcp.main/start-mcp-server
   :exec-args {:port 7888
               :nrepl-env-type :bb}}
  ;; https://github.com/lambdaisland/kaocha-cucumbe
  ;; - used for kaocha-runner.el to run Kaocha test runner in Emacs Cider
  :lib/kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}}}
