{:aliases
 ;; Clojure MCP
 ;; See https://github.com/bhauman/clojure-mcp
 ;; See https://github.com/bhauman/clojure-mcp/commits/main for latest sha
 {:mcp
  {:deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"} ;; Required for stdio server
          com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"
                                   :git/sha "5024190dab84c91d95e45832d90fdcb2fa728739"}
          ;; This concise variant gives me a github auth error...
          ;; io.github.bhaumann/clojure-mcp {:git/sha "3bf3184e5ec064d7d07d1624b8b2023033bbe6d6"}
          }
   :exec-fn clojure-mcp.main/start-mcp-server
   :exec-args {:port 7888
               ;;The bash-over-nrepl tool gets unresponsive with cljs projects...
               :bash-over-nrepl false}}}}
