{:aliases
 ;; Clojure MCP
 ;; See https://github.com/bhauman/clojure-mcp
 ;; See https://github.com/bhauman/clojure-mcp/commits/main for latest sha
 {:mcp
  {:deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"} ;; Required for stdio server
          ;;Track latest clojure-mcp as changing rapidly. Revert to latest tag on git breakage...
          com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"

                                   ;; :git/tag "v0.1.8-alpha"
                                   ;; :git/sha "457f197"
                                   :git/sha "89feeb0be877e06e129aa84ce16522f8b0a36c38"
                                   ;;
                                   }
          #_io.github.bhauman/clojure-mcp #_{:git/url "https://github.com/bhauman/clojure-mcp.git" :git/sha "latest"}}
   :exec-fn clojure-mcp.main/start-mcp-server
   :exec-args {:port 7888
               ;;The bash-over-nrepl tool gets unresponsive with cljs projects...
               :bash-over-nrepl false}}
  :mcp-bb
  {:deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"} ;; Required for stdio server
          com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"
                                   ;; :git/tag "v0.1.8-alpha"
                                   ;; :git/sha "457f197"
                                   :git/sha "89feeb0be877e06e129aa84ce16522f8b0a36c38"
                                   ;;
                                   }}
   :exec-fn clojure-mcp.main/start-mcp-server
   :exec-args {:port 7888
               :nrepl-env-type :bb}}}}
