[Unit]
Description=Mailbox synchronization timer

[Timer]
OnStartupSec=60 
OnUnitInactiveSec=5min
Persistent=true
Unit=notmuch-user.service

[Install]
WantedBy=timers.target
